.form-group {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

input {
	width: 300px;
}

span + label {
	margin-top: 16px;
}

.form-group,
legend,
button {
	margin: 16px;
}

.error-text {
	color: red;
	display: none;
}

.error-text.error-active {
	display: initial;
}
